<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Assistant JSP version</display-name>

	<welcome-file-list>
		<welcome-file>/pages/items.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>item-form-servlet</servlet-name>
		<servlet-class>iglabs.assistant.jsp.servlets.ItemFormServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>item-form-servlet</servlet-name>
		<url-pattern>/servlets/item-form</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>item-remove-servlet</servlet-name>
		<servlet-class>iglabs.assistant.jsp.servlets.ItemRemoveServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>item-remove-servlet</servlet-name>
		<url-pattern>/servlets/item-remove</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>order-form-servlet</servlet-name>
		<servlet-class>iglabs.assistant.jsp.servlets.OrderFormServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>order-form-servlet</servlet-name>
		<url-pattern>/servlets/order-form</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>order-remove-servlet</servlet-name>
		<servlet-class>iglabs.assistant.jsp.servlets.OrderRemoveServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>order-remove-servlet</servlet-name>
		<url-pattern>/servlets/order-remove</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>iglabs.assistant.jsp.listeners.ApplicationListener</listener-class>
	</listener>

	<jsp-config>
		<jsp-property-group>
			<display-name>pages-header-footer</display-name>
			<url-pattern>/pages/*</url-pattern>
			<include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
			<include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
		</jsp-property-group>
		<jsp-property-group>
			<display-name>templates-header-footer</display-name>
			<url-pattern>/WEB-INF/templates/*</url-pattern>
			<include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
			<include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
		</jsp-property-group>
	</jsp-config>

	<resource-ref>
		<description>Reviews Database</description>
		<res-ref-name>jdbc/assistantdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
