.container-main {
	padding: 0 20px 0 20px;
}

.space-15 {
	height: 15px;
}

.inline-space-15 {
	margin-left: 15px;
}

.col-buttons-2 {
	text-align: center;
	min-width: 170px;
}

.col-buttons-2 a {
	width: 80px;
}
